@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --theme-50: 245 ,248 ,247;
  --theme-100: 222 ,233 ,233;
  --theme-200: 189 ,210 ,209;
  --theme-300: 148 ,180 ,180;
  --theme-400: 109 ,147 ,148;
  --theme-500: 83 ,119 ,121;
  --theme-600: 65 ,94 ,96;
  --theme-700: 55 ,75 ,78;
  --theme-800: 47 ,62 ,64;
  --theme-900: 42 ,54 ,55;
  --theme-950: 21 ,29 ,30;
}